node_modules/
dist/
.expo/
web-build/
expo-env.d.ts
*.tsbuildinfo
.env
.env.*
!.env.example
coverage/
npm-debug.log*
.DS_Store
.superpowers/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.pem
.env*.local
/ios
/android
